.custom-button {
  background: #489DDA;
  border-radius: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #F8FAFC;
  max-width: 232px;
}