<div class="mt-5">
  <div class="blue-border-container my-4">
    <input
      type="text"
      class="form-control border-0 shadow-none"
      id="office-name"
      placeholder="Office Name"
    />
  </div>
  <div class="blue-border-container my-4">
    <input
      type="text"
      class="form-control border-0 shadow-none"
      id="physical-address"
      placeholder="Physical Address"
    />
  </div>
  <div class="blue-border-container my-4">
    <input
      type="text"
      class="form-control border-0 shadow-none"
      id="email-address"
      placeholder="Email Address"
    />
  </div>
  <div class="blue-border-container my-4">
    <input
      type="text"
      class="form-control border-0 shadow-none"
      id="phone-number"
      placeholder="Phone Number"
    />
  </div>
  <div class="blue-border-container my-4">
    <input
      type="text"
      class="form-control border-0 shadow-none"
      id="maximum-capacity"
      placeholder="Maximum Capacity"
    />
  </div>

  <h3 class="fw-600 my-5">Office Color</h3>

  <div class="row mb-2">
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col-2 d-flex justify-content-center">
      <img class="mx-2 my-1" src="assets/icons/colordot.svg" />
    </div>
    <div class="col"></div>
  </div>

  <div class="mt-5">
    <div class="row justify-content-center">
      <div class="custom-button">ADD OFFICE</div>
    </div>
  </div>
</div>
