.card {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e8f3fc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-left: none;
  padding: 10px;
}

.color-stripe {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(
    2deg,
    rgb(168, 139, 235) 33.3%,
    rgb(138, 111, 236) 33.3% 66.6%,
    rgb(39, 79, 212) 66.6% 100%
  );
}

.hide {
  display: none;
}

.show {
  display: contents;
}

.rotate {
  transform: rotateX(180deg);
}

/* @media (max-width: 310px) {
  .col-10,
  .row,
  .fs-12 {
    justify-content: center;
    text-align: center;
  }
} */
