@media (min-width: 450px) {
  .holder {
    display: flex;
    justify-content: center;
  }

  .col {
    margin-left: 1rem;
  }
}

.blue-border-container {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e8f3fc;
  border-radius: 8px;
  padding: 10px;
}

.dark {
  outline: 4px solid #475569;
  border-radius: 50px;
}
