<div class="container my-5">
  <div class="row mb-5">
    <div class="col-1">
      <img src="assets/icons/arrow-left.svg" />
    </div>
    <div class="col d-flex justify-content-center">
      <div class="fs-18">Office</div>
    </div>
    <div class="col-1"></div>
  </div>

  <app-office-card></app-office-card>
  <app-search-bar></app-search-bar>

  <div class="my-5">
    <div class="row">
      <div class="col">
        <div class="fs-24 fw-600">Staff Members In Office</div>
      </div>
      <div class="col-2 d-flex align-items-center">
        <div class="fs-18">11</div>
      </div>
    </div>
  </div>

  <app-member-overview></app-member-overview>
  <app-member-overview></app-member-overview>
  <app-member-overview></app-member-overview>
  <app-member-overview></app-member-overview>
  <app-member-overview></app-member-overview>

  <div class="overlay-button" (click)="addOfficeClicked()">
    <img src="assets/icons/add-button.svg" />
  </div>
</div>
